# Node.js
node_modules/
dist/
build/

# Vite / Vue / React
.vite/
*.local
*.log

# Environnement local
.env
.env.*.local

# PyCharm / JetBrains
.idea/

# VSCode
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Lockfiles (si tu veux éviter les conflits entre yarn/npm/pnpm)
yarn.lock
pnpm-lock.yaml
